In [6]:
import pandas as pd
import numpy as np

with open('voynichFullTextClean.txt', 'r', encoding="utf8") as f:
    lines = f.readlines()

x = lines[0].split()
counter = {}
final = {}

for i in range(0, len(x)-1):
    current = x[i]
    next = x[i+1]
    if current not in counter:
        counter[current] = {}
        final[current] = 0
    
    if next not in counter[current]:
        counter[current][next] = 1
        final[current] += 1
    else:
        counter[current][next] += 1
    

df = pd.DataFrame(counter).fillna(0).astype(int)

final = pd.DataFrame.from_dict(final, orient='index', columns=['count']).sort_values(by=['count'], ascending=False)

In [7]:
df.head(10)

,FGAG2,GDAE,AR,GHAM,SOE,SORG,0D0RC2,GDOR,SOE8G,2ORG,...,TDCCCG,HTC8G,ODCCO2TCCO2,G2AM,ODTCCG,TCCO2,4ODC2,GSCCG,ODCSG,PSCG
GDAE,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AR,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ODAN,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GHAM,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
HZAR,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SO,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
K,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ODOG,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TG,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
OF,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
final

          count
8AM         154
TOR          79
TOE          76
HZG          52
8G           51
...         ...
DSCG          1
TOFG8G        1
ODODTO8       1
SOHODO8G      1
PSCG          1

[1557 rows x 1 columns]

In [9]:
import pandas as pd
import numpy as np

with open('slovakBenHurTextClean.txt', 'r', encoding="utf8") as f:
    lines = f.readlines()

x = lines[0].split()
counter = {}
final = {}

for i in range(0, len(x)-1):
    current = x[i]
    next = x[i+1]
    if current not in counter:
        counter[current] = {}
        final[current] = 0
    
    if next not in counter[current]:
        counter[current][next] = 1
        final[current] += 1
    else:
        counter[current][next] += 1
    

df = pd.DataFrame(counter).fillna(0).astype(int)

final = pd.DataFrame.from_dict(final, orient='index', columns=['count']).sort_values(by=['count'], ascending=False)

In [10]:
df.head(10)

,pohoří,džebel,es,zubleh,přes,padesát,mil,dlouhé,je,tvarem,...,domovní,přerušené,tajemný,skvěl,úctyhodného,vzezření,žebřík,jakub,veleben,hospodin
džebel,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
jest,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
táhnoucí,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
es,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
otcem,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zubleh,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
přes,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
padesát,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
plece,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
rameno,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
final

           count
a            259
se           192
na            99
v             83
z             67
...          ...
vyslechli      1
mluvtež        1
vy             1
pohlédli       1
hospodin       1

[3419 rows x 1 columns]